body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
    font-family: 'Comfortaa', sans-serif;
    
}

/* Header styling */
header {
    background: rgb(243, 243, 243);
    text-align: center;
    grid-column: 1 / 4;
    padding: 1rem;
}

/* H1 styling */
h1{
  color: #037a87;  
  font-size: 26px;
}

/* H2 styling */
h2{
    color: #2f2f2f;  
    font-size: 20px;
    background-color: #F2D22E;
    text-align: center;
    padding: 20px;
}

/* H3 styling */
h3{
    color: #2f2f2f;  
    font-size: 18px;
    text-align: center;
}

/* Navigation menu styling */
.navigation {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
}

.navigation li {
    flex: 1;
}

.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
    flex: 1 1 auto;
  }

.navigation a:hover {
    font-weight: 600;
    text-decoration: underline;
    background-color: #F2D22E;
    color: #000000;
    text-decoration-color: #000000;
}

/* Main content styling */
main {
    display: grid;
    gap: 20px;
    padding: 2rem;
    background: #88E8F2;
    grid-template-columns: 1fr; /* Single column on small screens */
    grid-column: 1 / 4;
}

/* Section card styling */
.card{
    background: #f1f1f1;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer styling */
footer {
    background: #32C8D9;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
    tex
}

.text{
padding: 5rem;
text-align: justify;

}

.text2{
    padding: 5rem;
    text-align: justify;
    
    }

.img1 {
    width: 200px;
    height: auto;
    padding: 2rem;
    float: right;
    margin: 0 0 1rem 1rem;
}

.img2 {
    width: 200px;
    height: auto;
    padding: 2rem;
    float: left;
    margin: 1rem 1rem 0 0;
}


@media (min-width: 768px) {
    main {
        grid-template-columns: 3fr 1fr; /* Two-column layout on larger screens */
    }

    .about {
        grid-column: span 2; /* About section spans two columns */
    }

    .resources {
        grid-column: span 1; /* Resources section spans one column */
    }
}
