body {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
}

header,
footer {
    max-width: 100%;
    margin: 1rem auto;
    text-align: center;
    padding: 0;
    background-color: rgb(0, 58, 134);
    border: 1px solid rgb(0, 58, 134);
    color: #ffffff;
}

.hover:hover {
    box-shadow: 0 0 10px rgb(0, 58, 134)
}

main {
    display: grid;
    grid-gap: 1rem;
    max-width: 980px;
    margin: 1rem auto;
    text-align: center;
}

main .res-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr; 
}

main .res-grid section {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main .res-grid h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: rgb(0, 58, 134);
}

main .res-grid p {
    font-size: 0.9rem;
    color: #333;
    margin: 0.3rem 0;
}

main img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}

.navigation {
    display: flex;
}

.navigation li {
    display: block; 
    flex: 1 1 100%;
}

.navigation a {
    text-align: center;
}

#menu {
    display: none;
}


@media screen and (min-width: 980px) {
    main .res-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas grandes */
    }
}
