body {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
}

header,
footer {
    max-width: 100%;
    margin: 1rem auto;
    text-align: center;
    padding: 0;
    background-color: rgb(0, 58, 134);
    border: 1px solid rgb(0, 58, 134);
    color: #ffffff;
}

main {
    display: grid;
    grid-gap: 1rem;
    max-width: 980px;
    margin: 1rem auto;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main img {
    width: 100%;
    margin: 1rem auto;
    height: auto;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
}

main figcaption {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #012448;
}

@media screen and (min-width: 780px) {
    main {
        grid-template-columns: 1fr;
   
    }

    main figure {
        margin: 1rem auto;
        width: 100%;
        max-width: 45%;
        text-align: center;
    } 

    .navigation {
		display: flex;
	}

    .navigation li {
		display: block; 
		flex: 1 1 100%;
	}

	.navigation a {
		text-align: center;
	}

	#menu {
		display: none;
	}
}


@media screen and (min-width: 980px) {
    main {
        grid-template-columns: 1fr;
       
    }

    main figure {
        margin: 1rem auto;
        width: 100%;
        max-width: 30%;
        text-align: center;
    } 
    
}